<table>
  <thead class="table-mode-container__thead">
    <tr>
      <th id="table-column-1">
        <%- table.columnOne %>
        <img class="icon" src="/public/sort.svg" alt="icon image" />
      </th>
      <th id="table-column-2">
        <%- table.columnTwo %>
        <img class="icon" src="/public/sort.svg" alt="icon image" />
      </th>
      <th id="table-column-3">
        <%- table.columnThree %>
        <img class="icon" src="/public/sort.svg" alt="icon image" />
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <a href="/show/<%- feature.properties.showId %> "
          ><%- feature.properties.date %></a
        >
      </td>
      <td>
        <a href="/venues/<%- feature.properties.venueId %> "
          ><%- feature.properties.venue %></a
        >
      </td>
      <td>
        <a href="/venues/cities/<%- feature.properties.city %>.<%- state %>"
          ><%- feature.properties.city%>, <% if (feature.properties.country !==
          "USA"){%><%-feature.properties.country %> <% } else { %><%-
          feature.properties.state %><% } %></a
        >
      </td>
    </tr>
    <% }) %>
  </tbody>
</table>
