<% clusterMap.data.features.forEach((feature) => { %>
<tr>
  <td>
    <a href="/venues/<%- feature.properties.venueId %>"
      ><%- feature.properties.total%></a
    >
  </td>
  <td>
    <a href="/venues/<%- feature.properties.venueId %> "
      ><%- feature.properties.venue %></a
    >
  </td>
  <td>
    <a href="/show/date/<%- feature.properties.mostRecent.toISOString() %> "
      ><%- feature.properties.mostRecent.toLocaleDateString() %></a
    >
  </td>
</tr>
<% }) %>
