<% allShows.features.forEach((feature) => { let state =
!feature.properties.state && feature.properties.country ?
feature.properties.country : feature.properties.state %>
<tr>
  <td>
    <a href="/show/<%- feature.properties.showId %> "
      ><%- feature.properties.date %></a
    >
  </td>
  <td>
    <a href="/venues/<%- feature.properties.venueId %> "
      ><%- feature.properties.venue %></a
    >
  </td>
  <td>
    <a href="/venues/cities/<%- feature.properties.city %>.<%- state %>"
      ><%- feature.properties.city%>, <% if (feature.properties.country !==
      "USA"){%><%-feature.properties.country %> <% } else { %><%-
      feature.properties.state %><% } %></a
    >
  </td>
</tr>
<% }) %>
