<% table.rows.forEach((row) => { %>
<tr>
  <td><a href="/shows/<%- row.id %>"><%- row.timesPlayed %></a></td>
  <td>
    <a href="/songs/<%- row.id %> "> <%- row.title %></a>
  </td>
  <td><%= row.author ? `<a href="/songs/author/${encodeURIComponent(row.author.replaceAll("/", "-"))}">${row.author}</a>` : '' %></td>
</tr>
<% }) %>
