<% layout('layouts/boilerplate') %><%- include('partials/header') %>

<div class="table-mode-container__editor">

  <% if (songs.length > 1) {%>
  <div id="song-edit-selector">
    <label for="song-select">Select A Song: </label>
    <select name="songs" id="song-select">
      <% songs.forEach(song => { %>
      <option value="<%- song.title %> "><%- song.title %></option>
      <% }) %>
    </select>
  </div>
  <% } %>

  <form action="/songs/editor" method="POST" id="song-editor-form">
    <% songs.forEach(song => { %>
    <fieldset class="song-edit-fieldset">
      <legend><%- song.title %></legend>
      <label for="author">Author(s)</label>
      <input type="text" name="author" placeholder="list all writers" />
      <fieldset>
        <legend>
          Is this a song or something else?<br />(e.g. banter, countdown, etc)
        </legend>
        <label for="isSong">Yes, it's a song.</label>
        <input type="radio" name="isSong" value="true" required />
        <label for="isSong">No, not a song.</label>
        <input type="radio" name="isSong" value="false" />
      </fieldset>
      <label for="notes">Notes</label>
      <textarea
        name="notes"
        id=""
        cols="30"
        rows="10"
        placeholder="lyrics, background, etc"
      ></textarea>
      <fieldset>
        <legend>Is this song instrumental?</legend>

        <label for="instrumental">No</label>
        <input type="radio" name="instrumental" value="false" /><label
          for="instrumental"
          >Yes</label
        >
        <input type="radio" name="instrumental" value="true" required />
      </fieldset>
    </fieldset>
    <% }) %>
    <div id="song-editor-form__button-container">
      <button type="submit">
        <%- songs.length > 1 ? "Submit All Songs" : "Submit" %>
      </button>
      <button type="button">
        <a href="/">Skip Editing</a>
      </button>
    </div>
  </form>
</div>

<script>
  (() => {
    window.addEventListener("DOMContentLoaded", (event) => {
      const songSelect = document.querySelector("#song-select");
      const songFields = document.querySelectorAll(".song-edit-fieldset");
      function showField() {
        songFields.forEach((field) =>
          songSelect.value.trim() !== field.children[0].textContent
            ? field.classList.add("hide")
            : field.classList.remove("hide")
        );
      }
      showField();
      songSelect.addEventListener("change", (event) => {
        showField();
      });
      // alert if some songs do not have input values before submitting
    });
  })();
</script>
