<% layout('layouts/boilerplate') %> <%- include('./partials/header') %>

<% if
(user && user.firstName.length) { %>
<h3 id="user-display">Hello, <%- user.firstName %></h3>
<% } %>

<div class="table-mode-container">
  <h1><%- table.title %></h1>
  <h3 class="years"><%- table.subtitleOne %></h3>
  <h3 class="total-plays"><%- table.subtitleTwo %></h3>

  <table>
    <thead class="table-mode-container__thead">
      <tr>
        <th id="table-column-0">
          <%- table.headerOne %>
          <img class="icon" src="/public/icons/sort.svg" alt="icon image" />
        </th>
        <th id="table-column-1">
          <%- table.headerTwo %>
          <img class="icon" src="/public/icons/sort.svg" alt="icon image" />
        </th>
        <th id="table-column-2">
          <%- table.headerThree %>
          <img class="icon" src="/public/icons/sort.svg" alt="icon image" />
        </th>
      </tr>
    </thead>
    <tbody>
      <% let partial = table.rowsPartial %> <%-
      include(`./partials/table-rows/${ partial }`) %>
    </tbody>
  </table>
</div>

<script>
  window.columnTypes = "<%- table.columnTypes %>";  
</script>

<% if (clusterMap) {%>
<div id="cluster-map"></div>
<script>
  window.clusterMap = {
    mapToken: "<%-clusterMap.token%>",
    mapData: <%- JSON.stringify(clusterMap.data) %>,
    center: <%- JSON.stringify(clusterMap.center)%>, 
    zoom: "<%- clusterMap.zoom %>",
  }
</script>
<% } %>

<% scripts.forEach((script) => {%>
  <script src="<%- script %>"></script>
<%})%>


<%- include('./partials/footer') %>
