<% layout('layouts/boilerplate') %><%- include('partials/header') %>

<div id="auth-forms">
  <h1><%- userAction %></h1>

  <% if (msg) {%>
  <h3 id="user-messages"><%- msg %></h3>
  <% } %>

  <form action="<%- form.action %>" method="post">
    <section id="username">
      <label for="username">e-mail:</label>
      <input
        name="username"
        type="text"
        autocomplete="email"
        required
        autofocus
      />
    </section>
    <section id="password">
      <label for="<%- form.password %>">password:</label>
      <input
        id="<%- form.password %>"
        name="password"
        type="password"
        autocomplete="<%- form.password %>"
        required
      />
    </section>
    <button type="submit">Submit</button>
  </form>
</div>

<%- include('./partials/footer') %>
