<% layout('layouts/boilerplate') %><%- include('partials/header') %>

<h1><%- userAction %></h1>

<% if (msg) {%>
<h2><%- msg %></h2>
<% } %>

<form action="<%- form.action %>" method="post">
  <section>
    <label for="email">e-mail</label>
    <input
      id="email"
      name="email"
      type="text"
      autocomplete="email"
      required
      autofocus
    />
  </section>
  <section>
    <label for="<%- form.password %>">Password</label>
    <input
      id="<%- form.password %>"
      name="password"
      type="password"
      autocomplete="<%- form.password %>"
      required
    />
  </section>
  <button type="submit"><%- userAction %></button>
</form>
