<% layout('layouts/boilerplate') %> <%- include('partials/header') %>

<div class="table-mode-container">
  <h1 id="table-mode-container__headers--venue"><%- venue.name %></h1>
  <br />
  <h3 id="table-mode-container__headers--venue">
    <%- venue.city %>, <% if (!venue.state) {%> <%- venue.country %> <%} else {
    %> <%- venue.state %> <% } %> - <% if (venue.shows.length < 2) {%> <%-
    venue.shows.length %> Performance <% } else {%> <%- venue.shows.length %>
    Performances <% } %>
  </h3>
  <section id="performance-list">
    <%venue.shows.forEach(show => { %>
    <a href="/show/<%- show.id %> "><%- show.date %> </a><br />
    <% }) %>
  </section>
</div>
