<% layout('layouts/boilerplate') %> <%- include('../partials/header') %>

<div class="table-mode-container">
  <h1 class>All Venues</h1>
  <h3>Unique Venues: <%- allVenues.features.length %></h3>
  <h3>Total Plays: <%- totalPerformances %></h3>

  <table>
    <thead class="table-mode-container__thead">
      <tr>
        <th >Name <img class="icon" src="/public/sort.svg" alt="icon image"> </th>
        <th >City <img class="icon" src="/public/sort.svg" alt="icon image"> </th>
        <th >State <img class="icon" src="/public/sort.svg" alt="icon image"> </th>
      </tr>
    </thead>
    <tbody>
      <% allVenues.features.forEach((feature) => { let state =
      !feature.properties.state && feature.properties.country ?
      feature.properties.country : feature.properties.state %>
      <tr>
        <td >
          <a href="/venues/<%- feature.properties.venueId %> "
            ><%- feature.properties.venue %></a>
        </td>
        <td >
          <a href="/venues/cities/<%- feature.properties.city %>.<%- state %>"
            ><%- feature.properties.city %></a>
        </td>
        <td >
          <a href="/venues/states/<%- state %>"><%- state %></a>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>

<div id="cluster-map"></div>

<script>
  window.mapToken = "<%-process.env.MAPBOX_TOKEN%>";
  window.mapData = <%- JSON.stringify(allVenues) %>
</script>

<script src="/public/scripts/venues-script.js"></script>
