<% layout('layouts/boilerplate') %> <%- include('../partials/header') %>

<%- include('../partials/table') %> 

<div id="cluster-map"></div>

<script>
  window.mapToken = "<%-process.env.MAPBOX_TOKEN%>";
  window.mapData = <%- JSON.stringify(cityShows) %>
  window.center = <%- JSON.stringify(center)%>
</script>

<script src="/public/scripts/city-script.js"></script>
