<% layout('layouts/boilerplate') %> <%- include('../partials/header') %>

<div class="table-mode-container">
  <h1>
    <%- cityShows.features[0].properties.city%>, <% if
    (!cityShows.features[0].properties.state) {%> <%-
    cityShows.features[0].properties.country %> <%} else { %> <%-
    cityShows.features[0].properties.state %> <% } %>
  </h1>

  <h3>Unique Venues: <%- cityShows.features.length %></h3>
  <h3>
    Total Plays: <%- cityShows.features.reduce((p, c) => p + c.properties.total,
    0) %>
  </h3>

  <table>
    <thead class="table-mode-container__thead">
      <tr>
        <th colspan="2">
          Total <img class="icon" src="/public/sort.svg" alt="icon image" />
        </th>
        <th colspan="2">
          Venue <img class="icon" src="/public/sort.svg" alt="icon image" />
        </th>
        <th colspan="2">
          Recent <img class="icon" src="/public/sort.svg" alt="icon image" />
        </th>
      </tr>
    </thead>
    <tbody>
      <% cityShows.features.forEach((feature) => { %>
      <tr>
        <td colspan="2">
          <a href="/venues/<%- feature.properties.venueId %>"
            ><%- feature.properties.total%></a
          >
        </td>
        <td colspan="2">
          <a href="/venues/<%- feature.properties.venueId %> "
            ><%- feature.properties.venue %></a
          >
        </td>
        <td colspan="2">
          <a
            href="/show/date/<%- new Date(feature.properties.mostRecent).toISOString() %> "
            ><%- new Date(feature.properties.mostRecent).toLocaleDateString()
            %></a
          >
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>

<div id="cluster-map"></div>

<script>
  window.mapToken = "<%-process.env.MAPBOX_TOKEN%>";
  window.mapData = <%- JSON.stringify(cityShows) %>
  window.center = <%- JSON.stringify(center)%>
</script>

<script src="/public/scripts/city-script.js"></script>
