<% layout('layouts/boilerplate') %> <%- include('../partials/header') %>
<div class="table-mode-container">
  <h1 id="table-mode-container__headers--song"><%- song.title %></h1>
  <br />
  <% if (song.author) {%>
  <h3 id="table-mode-container__headers--song"><a href="/songs/author/<%- song.author %>"><%- song.author %></a></h3>
  <% } %> <br />

  <h3 id="table-mode-container__headers--song">
    First Performance: <%- song.firstTimePlayed %> <br />
    Most Recent: <%- song.mostRecent %> <br />
    Total: <a href="/shows/<%- song.id %>"><%- song.timesPlayed %></a>
  </h3>

  <section>
    <p class="song-notes"><%-song.notes%></p>
  </section>
</div>

<script>
  document.querySelector("#view-mode-button").classList.toggle("hide");
</script>
