<% layout('layouts/boilerplate') %><%- include('../partials/header') %>

<div class="table-mode-container"><h3><%- title %> saved. Thanks!</h1>

  <% if (songs.length > 0) {%> 
  <p>
      It looks like <%- songs.length %> <%- songs.length > 1 ? "songs are" : "song is" %> new to the database.
      Would you like to edit <%- songs.length > 1 ? "their" : "this song's" %> 
      details now?
    </p>
  
    <button type="button" class="map-popup-buttons"><a href="/songs/editor">Yes</a></button><button type="button" class="map-popup-buttons"><a href="/">Not Now</a></button>
    <% } %> </div>

