<% layout('layouts/boilerplate') %> <%- include('../partials/header') %> <% if
(user && user.firstName.length) { %>
<h3>Hello, <%- user.firstName %></h3>
<% } %>

<%- include('../partials/table') %>

<div id="cluster-map"></div>

<script>
  window.mapToken =  "<%-process.env.MAPBOX_TOKEN%>";
  window.mapData = <%- JSON.stringify(allShows) %>;
</script>
<script src="/public/scripts/shows-script.js"></script>