<% layout('layouts/boilerplate') %> <%- include('../partials/header') %> <% if
(user && user.firstName.length) { %>
<h3>Hello, <%- user.firstName %></h3>
<% } %>

<div class="table-mode-container">
  <h1>All Shows</h1>
  <h3>Years: <%- totalYears %></h3>
  <h3>Total Plays: <%- allShows.features.length %></h3>

  <table>
    <thead>
      <tr>
        <th colspan="2">Date <img class="icon" src="/public/sort.svg" alt="icon image"></th>
        <th colspan="2">Venue <img class="icon" src="/public/sort.svg" alt="icon image"></th>
        <th colspan="2">Location <img class="icon" src="/public/sort.svg" alt="icon image"></th>
      </tr>
    </thead>
      <tbody>
        <% allShows.features.forEach((feature) => { let state =
        !feature.properties.state && feature.properties.country ?
        feature.properties.country : feature.properties.state %>
        <tr>
          <td colspan="2">
            <a href="/show/<%- feature.properties.showId %> "
              ><%- feature.properties.date %></a>
          </td>
          <td colspan="2">
            <a href="/venues/<%- feature.properties.venueId %> "
              ><%- feature.properties.venue %></a>
          </td>
          <td colspan="2">
            <a href="/venues/cities/<%- feature.properties.city %>.<%- state %>"
              ><%- feature.properties.city%>, <% if (feature.properties.country
              !== "USA"){%><%-feature.properties.country %> <% } else { %><%-
              feature.properties.state %><% } %></a>
          </td>
        </tr>
        <% }) %>
      </tbody>
  </table>
</div>

<div id="cluster-map"></div>

<script>
  window.mapToken =  "<%-process.env.MAPBOX_TOKEN%>";
  window.mapData = <%- JSON.stringify(allShows) %>;
</script>
<script src="/public/scripts/shows-script.js"></script>
